html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  background-color: #000;
}

.btn-subtle {
  background-color: #333;
}

.btn-ghost {
  background-color: #fff;
}

.btn-warning {
  background-color: #ccc;
}
